
<form class="event-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Favorite food" value="Sushi">
  </mat-form-field><br>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Event Name"></textarea>
  </mat-form-field><br>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Status Event"></textarea>
  </mat-form-field><br>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Event Date"></textarea>
  </mat-form-field><br>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Region"></textarea>
  </mat-form-field><br>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Description"></textarea>
  </mat-form-field><br>
  <button
      mat-raised-button
      color="accent"
      type="submit">Save Event</button>
</form>
