<div class="section-wrapper">
  <h2 class="section-title">
    Quienes somos?
  </h2>
  <div class="section-body">
    Somos un grupo de jugadores apasionados, competitivos y profesionistas mexicanos con
    un propósito en común: <span class="highlight">Promover el talento mexicano relacionado
    a la comunidad competitiva de juegos de pelea</span>
  </div>
</div>

<div class="section-wrapper">
  <h2 class="section-title">
    Misión
  </h2>
  <div class="section-body">
    Ser una sistema confiable a nivel nacional e internacional, donde se pueda consultar y localizar
    información relacionado a jugadores, eventos, patrocinadores, equipos profesionales, y aspectos
    de interés relacionados al ámbito técnico y competitivo de la escena "FGC".
  </div>
</div>

<div class="section-wrapper">
  <h2 class="section-title">
    Visión
  </h2>
  <div class="section-body">
    Convertirnos en una base de datos y punto de reunión reconocido a nivel internacional y extendido
    a la comunidad competitiva de juegos de pelea (FGC).
  </div>
</div>

<div class="section-wrapper">
  <h2 class="section-title">
    Créditos
  </h2>
  <div class="section-body">
    <ul>
      <li>
        Enrique Javier Enciso Rojas (Eeveecario) - Developer
      </li>
      <li>
        Luis Fernando Chávez Morales (FuerzaDON) - Developer
      </li>
    </ul>

  </div>
</div>
