
  <form class="event-form example-form" [formGroup]="eventForm" (submit)="onSaveEvent()">
    <mat-card>
      <h2>CREATE A EVENT</h2>
      <mat-form-field class="example-full-width">
        <input
          matInput
          type="text"
          formControlName="eventName"
          placeholder="Event Name"
          required>
      </mat-form-field><br>

      <mat-form-field class="example-full-width">
        <mat-select
          matInput
          formControlName="eventStatus"
          placeholder="Event Status"
          matNativeControl
          required>
            <mat-option *ngFor="let statusEvent of statusEvents" [value]="statusEvent.value">
              {{statusEvent.viewValue}}
            </mat-option>
        </mat-select>
      </mat-form-field><br>
      <mat-form-field class="example-full-width">
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="eventDate"
            placeholder="Event Date"
            required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
      </mat-form-field><br>
      <mat-form-field class="example-full-width">
        <input
          matInput
          formControlName="eventRegion"
          placeholder="Region"
          required>
      </mat-form-field><br>
      <mat-form-field class="example-full-width">
        <textarea
          matInput
          row="4"
          formControlName="eventDescription"
          placeholder="Description"
          required></textarea>
      </mat-form-field><br>
      <button
          mat-raised-button
          color="accent"
          type="submit">Save Event</button>
    </mat-card>
  </form>

